<form id="selectFileHeaderText" [formGroup]="myForm" novalidate>
  <h2>Select a file to upload</h2>
  <div class="row">
     <div class="col-sm-12">
        <div class="form-group">
          <input type="file" id="browseFile" class="form-control" (change)="fileChangeEvent($event)"
                formControlName="file" placeholder="Upload a file...">
        </div>
     </div>
  </div>
  <div formArrayName="metaDataArray">
    <div *ngFor="let md of myForm.controls.metaDataArray.controls; let i=index" class="panel panel-default">
      <div class="card">
        <h3 id="metaDataHeader" class="card-header">
          Meta Data
        </h3>
        <div class="card-block" [formGroupName]="i">
        
          <app-metadata 
            [group]="myForm.controls.metaDataArray.controls[i]" 
            [viewType]="updatable" 
            [isUploadDateVisible]="false"
            [metaDataModel]="metaData"></app-metadata>
        </div>

      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-primary float-xs-right" id="uploadDocumentButton" [hidden]=(!showUploadButton) (click)="upload()" >Upload Document</button>
  </div>
</form>


