<Form [formGroup]="myForm" novalidate (ngSubmit)="upload(myForm)">
  <h2>Select a file to upload</h2>
  <div class="form-group">

    <input type="file" class="form-control" (change)="fileChangeEvent($event)"
           formControlName="file" placeholder="Upload a file...">

  </div>

  <button class="btn btn-lg btn-primary btn-block col-md-4 pull-right" name="submit" id="submitFile" >Upload</button>

  <div formArrayName="metaDataArray">
    <div *ngFor="let md of myForm.controls.metaDataArray.controls; let i=index" class="panel panel-default">
      <div class="panel-body" [formGroupName]="i">
        <app-metadata [group]="myForm.controls.metaDataArray.controls[i]"></app-metadata>
      </div>
    </div>
    <!--
    <pre>form value: <br>{{myForm.value | json}}</pre>
    -->
  </div>
</Form>


