<div class="container">

  <form [formGroup]="metaDataForm" novalidate (ngSubmit)="save(metaDataForm.value, metaDataForm.valid)">

    <div class="form-group">
      <label class="form-control-label">Customer Id</label>
      <input type="text" class="form-control" formControlName="customerId" [(ngModel)]="model.customerId" />
    </div>

    <div class="form-group">
      <label class="form-control-label">Source System</label>
      <input type="text" class="form-control" formControlName="sourceSystem" [(ngModel)]="model.sourceSystem" />
    </div>

    <div class="form-group">
      <label class="form-control-label">Content Type</label>
      <input type="text" class="form-control" formControlName="contentType" [(ngModel)]="model.CustomerId" />
    </div>

    <div class="form-group">
      <label class="form-control-label">Received Date</label>
      <input type="text" class="form-control" formControlName="receivedDate" [(ngModel)]="model.CustomerId" />
    </div>

    <div class="form-group">
      <label class="form-control-label">Upload Date</label>
      <input type="text" class="form-control" formControlName="uploadDate" [(ngModel)]="model.CustomerId" />
    </div>

  </form>

</div>
