<div class="container">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="email" class="control-label col-sm-3">Email</label>
            <div class="col-sm-3">
                <input type="email" class="form-control" name="email" [(ngModel)]="user.email">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-sm-3">Password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
            </div>
        </div>

        <span>{{errorMsg}}</span>
        <button (click)="login()" class="btn waves-effect waves-light" type="submit" name="action">Login</button>

    </form>


</div>