<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <a class="navbar-brand" href="#">IFS Discovery</a>
  <span class="navbar-text float-xs-left">
    Welcome {{userName}}
  </span>
  <form class="form-inline float-xs-right">
    <button class="btn btn-outline-primary" id="submitLogout" (click)="logout()">Logout</button>
  </form>
</nav>
<div class="row flex-items-xs-center">
  <div class="card col-md-4">
    <div class="card-block">
    <app-fileupload></app-fileupload>
    </div>
  </div>
</div>
